* {
	box-sizing: border-box;
}
.alert-info {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 1em;
}
h1 {
	text-align: center;
	margin: auto;
}
.nav-links {
	display: flex;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;
	height: 15em;
}
li {
	background-color: #c5c5c5;
	padding: 1em;
	text-align: center;
	list-style-type: none;
}
.header-img {
	display: flex;
	justify-content: center;
	margin: auto;
}